@model UML_proj.Models.Search_parameters
@{
    ViewBag.Title = "LearningParametersForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LearningParametersForm</h2>

@if (Model != null)
{
    <h2>Hey</h2>
    <h3>Learning Parameter ID: @Model.id_Search_parameters</h3>
    <h3>Learning Parameter Step_size: @Model.Apsimokymo_greitis</h3>
}

