@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Newsletter Form";
}

<h2>Newsletter Form</h2>

<p>Here you may post a new newsletter entry to send to your subscribers!</p>

