@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Newsletter Form";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>Newsletter Form</h2>

<p>Here you may post a new newsletter entry to send to your subscribers!</p>

@model UML_proj.Models.Newsletter

@using (Html.BeginForm("send_new_entry", "Newsletter", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.content)
    @Html.ValidationMessageFor(model => model.content)
    
    <button type="submit">Send</button>
}