@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Newsletter Form";
}

<h2>Newsletter Form</h2>

<p>Here you may post a new newsletter entry to send to your subscribers!</p>

@model UML_proj.Models.Newsletter

@using (Html.BeginForm("send_new_entry", "Newsletter", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Content)
    @Html.ValidationMessageFor(model => model.Content)
    <button type="submit">Send</button>
}

@{
    var prod = (string)ViewData["value"];
}

<h1>Product</h1>
<h3>@prod</h3>