@model WebApplication1.Models.SearchParameter
@{
    ViewBag.Title = "LearningParameterForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Optimizavimo metodas - @Model.OptimizavimoMetodas</h2>
<h2>Apmokymo greitis - @Model.ApsimokymoGreitis m/s</h2>