@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Here you may view and edit your profile information!</p>
<input type="button" value="Subscription List" onclick="location.href='@Url.Action("open_subscription_list", "Subscription")'" />